*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

background:#f5f7fc;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.forgot-container{

width:100%;

display:flex;

justify-content:center;

}

.forgot-box{

width:450px;

background:white;

padding:50px;

border-radius:10px;

box-shadow:0 20px 50px rgba(0,0,0,.08);

}

.back{

color:#987116;

text-decoration:none;

}

h2{

margin:30px 0 15px;

font-family:"Cormorant Garamond",serif;

font-size:42px;

}

p{

color:#666;

line-height:28px;

margin-bottom:30px;

}

.input-box{

position:relative;

margin-bottom:25px;

}

.input-box i{

position:absolute;

left:18px;

top:20px;

color:#987116;

}

.input-box input{

width:100%;

height:55px;

padding-left:50px;

border:1px solid #ddd;

border-radius:5px;

outline:none;

}

button{

width:100%;

height:55px;

background:#111b31;

color:white;

border:none;

border-radius:5px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#987116;

}