*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:'Poppins',sans-serif;

background:#F5F7FC;

overflow-x:hidden;

}

.container{

width:1200px;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

}

header{

position:absolute;

width:100%;

top:0;

left:0;

z-index:100;

padding:25px 0;

}

.logo{

font-family:'Cormorant Garamond',serif;

font-size:34px;

font-weight:bold;

color:white;

}

nav{

display:flex;

gap:35px;

}

nav a{

text-decoration:none;

color:white;

font-size:15px;

font-weight:500;

transition:.3s;

}

nav a:hover{

color:#E2B95B;

}

.bookBtn{

background:#111;

color:white;

padding:13px 28px;

text-decoration:none;

border-radius:5px;

font-weight:600;

transition:.3s;

}

.bookBtn:hover{

background:#E2B95B;

}